.hero{
    margin: 0px 80px;
    margin-top: 180px;
}

.hero-text {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
    line-height: 130px;
}

.hero-explore {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 30px;
    padding: 2px 4px;
    padding-left: 20px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.hero-explore p {
    color: #292929;
    font-size: 18px;
    font-weight: 500;
}

.hero-dot-play{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.hero-dot {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 7.5px;
    cursor: pointer;
}

.hero-dot.orange {
    background: orangered;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-play p {
    color: #fff;
    font-size: 15px;
}